@use "../../styles/snippets" as s;
@import "../../styles/colors.scss";
@import "../../styles/colors-category-pokemon.scss";

@mixin allAreaAbsolutWithRadiusBordetTop {
  @include s.allAreaAbsolute();
  border-radius: 8px 8px 0 0;
}

@mixin gradientColor($color) {
  background: linear-gradient(to bottom, rgb(91, 91, 91) 0%,$color 30%, $color 100%);
}

.cardBox {
  width: 200px;
  height: 268px;
  background: $white;
  border-radius: 7px;
  cursor: pointer;

  .imgBox {
    @include s.allCenter;
    border-radius: 8px 8px 0 0;
    height: 180px;
    width: 100%;
    position: relative;

    img {
      max-width: 80%;
      max-height: 80%;
      z-index: 1;
      animation: fadein 1s infinite alternate-reverse;
    }

    .bg-fire {
      @include allAreaAbsolutWithRadiusBordetTop;
      @include gradientColor($fire)
    }

    .bg-water {
      @include gradientColor($water);
      @include allAreaAbsolutWithRadiusBordetTop;
    }

    .bg-bug {
      @include gradientColor($bug);
      @include allAreaAbsolutWithRadiusBordetTop;
    }

    .bg-lightning {
      @include gradientColor($lightning);
      @include allAreaAbsolutWithRadiusBordetTop;
    }
  }

  .descriptionBox {
    margin: 13px 24px;
    h2 {
      font-size: 18px;
      font-weight: 900;
      margin-bottom: 7px;
    }
    p {
      margin-top: 2px;
      color: $greyDark;
    }
  }
}

@keyframes fadein {
  to {
    transform: translateY(-7px);
  }
}
