@use "../../styles/mixin" as m;
@import "../../styles/colors.scss";
@import "../../styles/colors-category-pokemon.scss";

.pokePageBox {
  @include m.box;
  flex-direction: column;
  height: calc(100vh - 80px);

  .btnBox {
    display: flex;
    justify-content: space-between;
    
    button{
      @include m.wh(12.4rem, 3.3rem);
      @include m.allCenter;
      font-weight: 700;
      font-size: 1.4rem;
      color: $white;
      margin-bottom: 2.5rem;
      margin-top: 2.5rem;
    }
  }

  .contentBox {
    background-color: $white;
    padding-bottom: 8rem;
    display: flex;
    position: relative;
    justify-content: space-between;

    .outYellow {
      position: absolute;
      background: $primary;
      @include m.wh(40rem, 55rem);
      left: -40rem;
      z-index: 1;
    }
  }

  .descriptionBox {
    margin-top: 6rem;
    font-size: 1.4rem;
  }

  .pictureBox {
    margin-top: 6rem;
    width: 14rem;

    div {
      @include m.wh(7.9rem, 7.9rem);
      margin-bottom: 2rem;

      &:hover {
        box-shadow: 1px 1px 40px 1px rgb(144, 144, 144);
      }
    }
  }
}
