$fire: #ffa152;
$water: #61aede;
$bug: #97c32e;
$electric:#FECA1B;
$grass:#63BC5A;
$dark:#5A5366;
$dragon:#096AC1;
$normal:#929AA1;
$ground:#965633;
$rock:#9d8544;
$ghost:#5469AD;
$steel:#538C9E;
$psychic:#F87277;
$ice:#74CEC1;
$fairy:#ED8DE5;
$unknown:#7e7e7e;
$shadow:#A664C7;
$poison:#929AA1;
$flying:#91A9DE;
$fighting:#CF4069;