@import "./colors.scss";

* {
  font-family: 'Roboto', sans-serif;
  font-size: 0.625rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary;
  min-height: 100vh;
}

h1{
  font-size: 2.4rem;
}

h2{
  font-size: 1.8rem;
}

p{
  font-size: 1.4rem;
}

$colors: "fire", "water", "bug";

$fire: #ffa152;
$water: #61aede;
$bug: #97c32e;

@each $col in $colors {
  .bg-#{$col} {
    background-color: #{"$"$col};
  }
}
