@use "./mixin.scss" as m;
@import "./colors.scss";

* {
  font-family: "Roboto", sans-serif;
  font-size: 0.625rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary;
  min-height: 100vh;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

p {
  font-size: 1.4rem;
}

strong{
  font-size: 1.4rem;
  font-weight: bold;
}

button{
  border: none;
  cursor: pointer;
  @include m.borderRadius;
}

li{
  list-style: none;
  font-size: 1.4rem;
}
