@import "../../styles/colors.scss";

.initialPageBox {
  margin: 60px;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .contentBox{
    margin: 25px;
  }
}